* {
  box-sizing: border-box;
}
body {
  max-width: 100%;
  min-height: 100%;
  background: #c6c3b3;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  height: 10vh;
  font-size: calc(7px + 2vmin);
  background: #312921;
  color: #ede7e3;
}
#title {
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  margin-left: 3vw;
}
#navbar {
  display: flex;
  justify-content: center;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  /* font-size: smaller; */
  /* font-size: calc(10px + 1vmin); */
  font-size: .7em;
}
.nav-links li {
  width: 10vw;
  text-align: center;
}
.nav-link,
.nav-link:visited {
  color: #ede7e3;
  text-decoration: none;
}
.nav-link:hover {
  color: #c6c3b3;
}
.nav-link.active {
  color: #ccaf9b;
}
#login {
  margin: auto;
}
#login-btn {
  background: #312921;
  color: #ede7e3;
  border: none;
  border-radius: 8%;
  justify-content: center;
  font-size: .7em;
  padding: 1vh 2vw;
  border: 1px solid #c6c3b3;
}
#login-btn:hover {
  background: #873c1e;
  color: #c6c3b3;
}
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3vh;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: calc(1px + 1vmin);
  background: #312921;
  color: #ede7e3;
}
#footer:hover {
  color: white;
}
.main-comp {
  margin-top: 10vh;
  margin-bottom: 3vh;
  display: grid;
  justify-content: center;
}
.ing-grp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1vh;
  margin-bottom: 2vh;
}
.ing-grp-title {
  grid-column: span 4;
  font-weight: bolder;
  text-decoration: underline;
}
#my-bar-main {
  text-align: center;
}
.my-bar-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.in-stock-ing {
  text-align: center;
  margin-top: 1vh;
}
