@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;600&family=Rock+Salt&display=swap');

* {
  box-sizing: border-box;
  font-family: "Archivo Narrow", sans-serif;
}
body {
  max-width: 100%;
  min-height: 100vh;
  background-image: url(./images/bar-background.jpg),
    -moz-linear-gradient(top, #1b80d3 0%, #000b40 40%);
  background-position: bottom;
  background-size: 100vw 50vh;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  /* background-color:#1a7fd2; */
  background-color: #020613;
  color: #ee6c4d;
  text-shadow: -1px -1px 0 rgb(0, 0, 0), 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* background: #c6c3b3; */
}
.build-bar-comp {
  background-color: #020613;
  background-size: cover;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 10vh;
  font-size: calc(7px + 2vmin);
  background: linear-gradient(to top, #020613, #3d5a80);
  color: #ee6c4d;
  text-shadow: none;
}
#title {
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  margin-left: 3vw;
  font-family: "Rock Salt", cursive;
}
#navbar {
  display: flex;
  justify-content: center;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  font-size: 0.7em;
}
.nav-links li {
  width: 10vw;
  text-align: center;
}
.nav-link,
.nav-link:visited {
  color: #ee6c4d;
  text-decoration: none;
}
.nav-link:hover {
  color: #c6c3b3;
}
.nav-link.active {
  color: rgba(204, 175, 155, 0.555);
}
#login {
  margin: auto;
}
#login-btn {
  background: #312921;
  color: #ede7e3;
  border: none;
  border-radius: 8%;
  justify-content: center;
  font-size: 0.7em;
  padding: 1vh 2vw;
  border: 1px solid #c6c3b3;
}
#login-btn:hover {
  background: #873c1e;
  color: #c6c3b3;
}
#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3vh;
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: calc(1px + 1vmin);
  background: linear-gradient(to top, #3d5a80, transparent);
  color: #ee6c4d;
  text-shadow: none;
}
#footer:hover {
  color: white;
}
.main-comp {
  margin-top: 10vh;
  margin-bottom: 3vh;
  display: grid;
  justify-content: center;
}
.ing-grp {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1vh;
  margin-bottom: 2vh;
}
.ing-grp-title {
  grid-column: span 4;
  font-weight: bolder;
  text-decoration: underline;
}
#my-bar-main {
  text-align: center;
}
.my-bar-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.in-stock-ing {
  text-align: center;
  margin-top: 1vh;
}
.card-display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.cocktail-card {
  display: grid;
  text-align: center;
  margin-top: 1vh;
  border-radius: 5px;
}
.cocktail-card:hover {
  background: #293241;
}
.card-img {
  height: 150px;
  width: 150px;
  margin: auto;
}
.card-name {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 600;
}
#ran-btn {
  width: 100px;
  margin: auto;
  margin-top: 1vh;
}
#clear-btn {
  width: 10vw;
  margin: auto;
  margin-bottom: 1vh;
  padding: 0.5vh;
  background: red;
  color: white;
  border-radius: 5%;
  border: none;
}
#clear-btn:hover {
  background: repeating-linear-gradient(
    45deg,
    crimson,
    crimson 10px,
    red 10px,
    red 20px
  );
}
